* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    to right,
    #444cf7,
    #444cf7 1px,
    #e5e5f7 1px,
    #e5e5f7
  );
}
